
{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Network automation
    <small>Go to the Templates tab and start automating!</small>
  </h1>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->



  <!-- /.row -->
  <!-- Main row -->
  <!-- /.row (main row) -->

</section>
<!-- /.content -->
{% else %}

<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Authentication</h1>

      {% if not current_user.is_authenticated %}
      <p>You can register as a regular user, or log in as a superuser. <br><br>

        <br>
      <p>
        <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
      </p>
      {% endif %}
      <br>
      <p>
        <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
      </p>
    </div>
  </section>
</center>

{% endif %}

{% endblock body %}