
{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
{% block content %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>Templates</h1>
          <ul class="list-group">
              <form action="#" method="post">
                  {% for item in templates %}
                     <a class="list-group-item" href={{ url_for('find_template', template_type=item ) }} >{{ item }}</a>
                  {% endfor %}
              </form>
          </ul>
        {% block autosecure %} {% endblock %}
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
{% endblock %}
{% endblock body %}


