{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

{% block content %}
<section class="content-header">
  <h1 >
      {{ template_type }} form
      <br><br><br>
  </h1>
</section>
    <form method="post" style="text-indent: 40px">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputUsername" placeholder="Username" value="{{ request.form['inputUsername'] }}"></input>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputPassword" placeholder="Password" value="{{ request.form['inputPassword'] }}"></input>
            </div>
          </div>
            <div class="form-group row">
            <label for="inputEnablePassword" class="col-sm-2 col-form-label">Enable password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputEnablePassword" placeholder="Enable password" value="{{ request.form['inputEnablePassword'] }}"></input>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputInventory" data-live-search="true" class="col-sm-2 col-form-label">Inventory</label>
            <div class="col-sm-10">
                <select required="required" class="custom-select my-1 mr-sm-2" name="inputInventory" id="inputInventory" value="{{ request.form['inputInventory'] }}" onchange="myFunction()">
                    <option value="">Choose...</option>
                    {% for inventory in inventories %}
                        <option data-id={{ inventory.name }} rel={{ inventory.name }} value={{ inventory.name }}>{{ inventory.name }}</option>
                    {% endfor %}
                  </select>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputDevices" data-live-search="true" class="col-sm-2 col-form-label">Devices</label>
            <div class="col-sm-10">
                <select required="required" class="custom-select my-1 mr-sm-2" name="inputDevices" id="inputDevices" value="{{ request.form['inputDevices'] }}" style="display:none" onchange="showHiddenSelect2();">
                    <option value="">Choose...</option>
                    {% for key in elements.keys() %}
                        {% for element in elements[key] %}
                        <option style="display:none" class={{ key }} value={{ element }}>{{ element }}</option>
                    {% endfor %}
                {% endfor %}
                  </select>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputVLANs" class="col-sm-2 col-form-label">VLANs</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputVLANs" placeholder="Please enter the VLANs separated only by one comma or this will generate errors." value="{{ request.form['inputVLANs'] }}"></input>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputUntrustedInterfaces" class="col-sm-2 col-form-label">Untrusted interfaces</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputUntrustedInterfaces" placeholder="Please enter the interfaces separated only by one comma or this will generate errors." value="{{ request.form['inputUntrustedInterfaces'] }}"></input>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputTrustedInterfaces" class="col-sm-2 col-form-label">Trusted interfaces</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputTrustedInterfaces" placeholder="Please enter the interfaces separated only by one comma or this will generate errors." value="{{ request.form['inputTrustedInterfaces'] }}"></input>
            </div>
          </div>

              <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" name="defaultCheck" id="defaultCheck" required>
      <label class="form-check-label" for="defaultCheck">
        Please note that this configuration is only for routers
      </label>
      <br><br>
    </div>
                      <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
    </form>
{% endblock %}
  {% endif %}
    <script>
    $(document).ready(function(){
    var $cat = $('select[name=inputInventory]'),
    $items = $('select[name=inputDevices]');

    $cat.change(function(){

        var $this = $(this).find(':selected'),
        rel = $this.attr('rel');

        // Hide all
        $items.find("option").hide();

        // Find all matching accessories
        // Show all the correct accesories
        // Select the first accesory
        $set = $items.find('option.' + rel);
        $set.show().first().prop('selected', true);

    });
});

function myFunction() {
    document.getElementById('inputDevices').style.display='block';
}
    </script>

  {% endblock body %}