{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

{% block content %}
<section class="content-header">
  <h1 >
      {{ template_type }} form
      <br><br><br>
  </h1>
</section>
    <form method="post" style="text-indent: 40px">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputUsername" id="inputUsername" placeholder="Username" value="{{ request.form['inputUsername'] }}"></input>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputPassword" id="inputPassword" placeholder="Password" value="{{ request.form['inputPassword'] }}"></input>
            </div>
          </div>
            <div class="form-group row">
            <label for="inputEnablePassword" class="col-sm-2 col-form-label">Enable password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputEnablePassword" id="inputEnablePassword" placeholder="Enable password" value="{{ request.form['inputEnablePassword'] }}"></input>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputInventory" data-live-search="true" class="col-sm-2 col-form-label">Inventory</label>
            <div class="col-sm-10">
                <select required="required" class="custom-select my-1 mr-sm-2" name="inputInventory" id="inputInventory" value="{{ request.form['inputInventory'] }}" onchange="myFunction()">
                    <option value="">Choose...</option>
                    {% for inventory in inventories %}
                        <option data-id={{ inventory.name }} rel={{ inventory.name }} value={{ inventory.name }}>{{ inventory.name }}</option>
                    {% endfor %}
                  </select>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputDevices" data-live-search="true" class="col-sm-2 col-form-label">Devices</label>
            <div class="col-sm-10">
                <select required="required" class="custom-select my-1 mr-sm-2" name="inputDevices" id="inputDevices" value="{{ request.form['inputDevices'] }}" style="display:none" onchange="showHiddenSelect2();">
                    <option value="">Choose...</option>
                    {% for key in elements.keys() %}
                        {% for element in elements[key] %}
                        <option style="display:none" class={{ key }} value={{ element }}>{{ element }}</option>
                    {% endfor %}
                {% endfor %}
                  </select>
            </div>
          </div>
                      <div class="form-group row">
            <div class="col-sm-10">

                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myOutput" onclick="getStatus()">Output</button>

            </div>
          </div>
    </form>
    <!-- Modal -->
  <div class="modal fade" id="myOutput" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <div id="test"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
  {% endif %}
    <script>
    $(document).ready(function(){
    var $cat = $('select[name=inputInventory]'),
    $items = $('select[name=inputDevices]');

    $cat.change(function(){

        var $this = $(this).find(':selected'),
        rel = $this.attr('rel');

        // Hide all
        $items.find("option").hide();

        // Find all matching accessories
        // Show all the correct accesories
        // Select the first accesory
        $set = $items.find('option.' + rel);
        $set.show().first().prop('selected', true);

    });
});

function myFunction() {
    document.getElementById('inputDevices').style.display='block';
}

function getStatus()
{
    {#get form data first#}
    var username = document.getElementById("inputUsername").value;
    var password = document.getElementById("inputPassword").value;
    var enable = document.getElementById("inputEnablePassword").value;
    var inventory = document.getElementById("inputInventory").value;
    var devices = document.getElementById("inputDevices").value;
    var url = "/fetch_config";
    var xmlHttp = new XMLHttpRequest();
    var params = 'username=' + username +'&password=' + password +'&enable=' + enable + '&inventory=' + inventory + '&devices=' + devices
    xmlHttp.open( "POST", url, false );
    xmlHttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
    xmlHttp.onreadystatechange = function() { // Call a function when the state changes.
    if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {
        document.getElementById('test').textContent = xmlHttp.responseText;
    }
}
    xmlHttp.send( params );
}
    </script>

  {% endblock body %}