{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

{% block content %}
<section class="content-header">
  <h1 >
      {{ template_type }} form
      <br><br><br>
  </h1>
</section>
    <form method="post" style="text-indent: 40px" onsubmit="submitFunction()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <div class="form-group row">
            <label for="inputUsername" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" name="inputUsername" placeholder="Username" value="{{ request.form['inputUsername'] }}"></input>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputPassword" placeholder="Password" value="{{ request.form['inputPassword'] }}"></input>
            </div>
          </div>
            <div class="form-group row">
            <label for="inputEnablePassword" class="col-sm-2 col-form-label">Enable password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" name="inputEnablePassword" placeholder="Enable password" value="{{ request.form['inputEnablePassword'] }}"></input>
            </div>
          </div>
          <div class="form-group row">
            <label for="inputInventory" data-live-search="true" class="col-sm-2 col-form-label">Inventory</label>
            <div class="col-sm-10">
                <select required="required" class="custom-select my-1 mr-sm-2" name="inputInventory" id="inputInventory" value="{{ request.form['inputInventory'] }}" onchange="myFunction()">
                    <option value="">Choose...</option>
                    {% for inventory in inventories %}
                        <option data-id={{ inventory.name }} rel={{ inventory.name }} value={{ inventory.name }}>{{ inventory.name }}</option>
                    {% endfor %}
                  </select>
            </div>
          </div>
        <div class="form-group row">
            <label for="inputDevices" data-live-search="true" class="col-sm-2 col-form-label">Devices</label>
            <div class="col-sm-10">
                <select required="required" class="custom-select my-1 mr-sm-2" name="inputDevices" id="inputDevices" value="{{ request.form['inputDevices'] }}" style="display:none">
                    <option value="">Choose...</option>
                    {% for key in elements.keys() %}
                        {% for element in elements[key] %}
                        <option style="display:none" class={{ key }} value={{ element }}>{{ element }}</option>
                    {% endfor %}
                {% endfor %}
                  </select>
            </div>
          </div>
    <div class="form-group row">
            <label for="inputType" data-live-search="true" class="col-sm-2 col-form-label">VTY lines or console line config?</label>
            <div class="col-sm-10">
                <select required="required" class="custom-select my-1 mr-sm-2" name="inputType" id="inputType" value="{{ request.form['inputType'] }}" onchange="displayFeatures()">
                    <option value="">Choose...</option>
                    <option rel="vty" value="vty">VTY lines</option>
                    <option rel="console" value="console">Console lines</option>
                </select>
            </div>
          </div>
    <div class="form-group row">
            <label for="inputFeature" data-live-search="true" class="col-sm-2 col-form-label">Choose feature to config</label>
            <div class="col-sm-10">
                <select required="required" class="custom-select my-1 mr-sm-2" name="inputFeature" id="inputFeature" value="{{ request.form['inputFeature'] }}" style="display:none">
                    <option class="vty console" value="">Choose...</option>
                    <option class="vty console" value="access_list_permit">Access-list permit sources</option>
                    <option class="vty console" value="access_list_deny">Access-list deny sources</option>
                    <option class="vty" value="inbound_vty_access_vrf_also">Inbound VTY access(VRF also)</option>
                    <option class="vty" value="outbound_vty_access_vrf_also">Outbound VTY access(VRF also)</option>
                    <option class="console" value="inbound_console_access_vrf_also">Inbound console access(VRF also)</option>
                    <option class="console" value="outbound_console_access_vrf_also">Outbound console access(VRF also)</option>
                </select>
            </div>
          </div>
    <div class="form-group row">
            <label for="inputACLNumber" class="col-sm-2 col-form-label">Access-list number</label>
            <div class="col-sm-10">
              <input type="number" required min="1" max="99" class="form-control" name="inputACLNumber" id="inputACLNumber" placeholder="1-99" value="{{ request.form['inputACLNumber'] }}"></input>
            </div>
          </div>
    <div class="form-group row">
            <label for="inputVTYfirstline" class="col-sm-2 col-form-label">VTY first line number</label>
            <div class="col-sm-10">
              <input type="number" required min="0" max="924" class="form-control" name="inputVTYfirstline" id="inputVTYfirstline" placeholder="0-924" value="{{ request.form['inputVTYfirstline'] }}" readonly="true"></input>
            </div>
          </div>
    <div class="form-group row">
            <label for="inputVTYlastline" class="col-sm-2 col-form-label">VTY first line number</label>
            <div class="col-sm-10">
              <input type="number" required min="0" max="924" class="form-control" name="inputVTYlastline" id="inputVTYlastline" placeholder="0-924 but should start from a position larger than first line" value="{{ request.form['inputVTYlastline'] }}" readonly="true"></input>
            </div>
          </div>
    <div class="form-group row">
            <label for="inputPermit" class="col-sm-2 col-form-label">Source IP addresses that are permitted</label>
            <div class="col-sm-10">
              <input type="text" required class="form-control" name="inputPermit" id="inputPermit" placeholder="A.B.C.D,A.B.C.D,A.B.C.D" value="{{ request.form['inputPermit'] }}" readonly="true"></input>
            </div>
          </div>
    <div class="form-group row">
            <label for="inputDeny" class="col-sm-2 col-form-label">Source IP addresses that are denied</label>
            <div class="col-sm-10">
              <input type="text" required class="form-control" name="inputDeny" id="inputDeny" placeholder="A.B.C.D,A.B.C.D,A.B.C.D" value="{{ request.form['inputDeny'] }}" readonly="true"></input>
            </div>
          </div>



    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" name="defaultCheck" id="defaultCheck" required>

                        <label class="form-check-label" for="defaultCheck">
        Please note that although no errors will be generated, this feature only works on Cisco 7200 routers
      </label>
                  <br><br>
    </div>
                      <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
    </form>
{% endblock %}
  {% endif %}
    <script>
    $(document).ready(function(){
    var $cat = $('select[name=inputInventory]'),
    $items = $('select[name=inputDevices]');

    $cat.change(function(){

        var $this = $(this).find(':selected'),
        rel = $this.attr('rel');

        // Hide all
        $items.find("option").hide();

        // Find all matching accessories
        // Show all the correct accesories
        // Select the first accesory
        $set = $items.find('option.' + rel);
        $set.show().first().prop('selected', true);

    });
});

    $(document).ready(function(){
    var $cat = $('select[name=inputType]'),
    $items = $('select[name=inputFeature]');

    $cat.change(function(){

        var $this = $(this).find(':selected'),
        rel = $this.attr('rel');

        // Hide all
        $items.find("option").hide();

        // Find all matching accessories
        // Show all the correct accesories
        // Select the first accesory
        $set = $items.find('option.' + rel);
        $set.show().first().prop('selected', true);

    });
});

function myFunction() {
    document.getElementById('inputDevices').style.display='block';
}

function displayFeatures() {
    document.getElementById('inputFeature').style.display='block';
}

    document.getElementById('inputFeature').addEventListener('change', function() {
        if (this.value == 'inbound_vty_access_vrf_also' || this.value == 'outbound_vty_access_vrf_also') {
                document.getElementById('inputVTYfirstline').readOnly = false;
                document.getElementById('inputVTYlastline').readOnly = false;
                }
        else {
                document.getElementById('inputVTYfirstline').readOnly = true;
                document.getElementById('inputVTYlastline').readOnly = true;
                }
        if (this.value == 'access_list_deny') {
                document.getElementById('inputPermit').readOnly = true;
                document.getElementById('inputDeny').readOnly = false;
                }
        else if (this.value == 'access_list_permit') {
                document.getElementById('inputPermit').readOnly = false;
                document.getElementById('inputDeny').readOnly = true;
                }
        else {
            document.getElementById('inputPermit').readOnly = true;
                document.getElementById('inputDeny').readOnly = true;
            }
    })

    function submitFunction() {
    if (document.getElementById('inputFeature').value == 'inbound_vty_access_vrf_also' || document.getElementById('inputFeature').value == 'outbound_vty_access_vrf_also') {
        if (document.getElementById('inputVTYlastline').value <= document.getElementById('inputVTYfirstline').value) {
            alert("The VTY last line number must be larger than the first!");
            return false;
        }
    }
}

    </script>

  {% endblock body %}